/*pestañas iva*/
.contenedorTabi .subcontenedorTabi {
    min-height: 25vh;
    position: relative;

}

.contenedorTabi .bloquetabi {
    position: absolute;
    /* Esto hace que todos los bloques tomen la misma posicion, uno encima de otro */
    margin: 1em;
    padding: 1em;
    top: 0;
    display: none;
    /*oculta la división, se quiso trabajar con opacity: 0; pero los check se suponian, deshabilitando uno de ellos*/

}

.contenedorTabi .atabi.active {
    background-color: #0d6efd !important;
    /* important sobrepone a cualquier css */
    color: white !important;
}

.contenedorTabi .bloquetabi.active {
    display: block;
    /*muestra la división, se quiso trabajar con opacity: 1; pero los check se suponian, deshabilitando uno de ellos*/
}

/*pestañas fuente*/
.contenedorTabf .subcontenedorTabf {
    min-height: 150vh;
    position: relative;
}

.contenedorTabf .bloquetabf {
    position: absolute;
    /* Esto hace que todos los bloques tomen la misma posicion, uno encima de otro */
    margin: 1em;
    padding: 1em;
    top: 0;
    display: none;
    /*oculta la división, se quiso trabajar con opacity: 0; pero los check se suponian, deshabilitando uno de ellos*/

}

.contenedorTabf .atabf.active {
    background-color: #0d6efd !important;
    /* important sobrepone a cualquier css */
    color: white !important;
}

.contenedorTabf .bloquetabf.active {
    display: block;
    /*muestra la división, se quiso trabajar con opacity: 1; pero los check se suponian, deshabilitando uno de ellos*/
}


p.warning {
    /*cuadro de alerta/*/
    background: #ffe8ef;
    border: 2px solid #fc5185;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 14px;
    padding: 25px 20px 25px 62px;
    padding-bottom: 25px;
    position: relative;
}

.schema-faq-section {
    /*cuadrito en blanco con bordes y sombreado*/
    border: 1px solid #dadce0 !important;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 30px;
    padding-bottom: 30px;
}

.centered {
    /*/alinea centro horizontal-vertical en tablas*/
    text-align: center !important;
    vertical-align: middle !important;
}

/*Submenus*/
.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.disabled-div {
    pointer-events: none;
    opacity: 0.7;
    /* Optional: Add additional styles to convey disabled state */
    background-color: #f2f2f2;
    /*color: #999;*/
    cursor: not-allowed;
}