{% extends "base.html" %} {% block titulo %}Consultar Plantillas {% endblock %}
{% block contenido %}
        <div class="col-12 col-md-10 offset-md-1">
            <form id="form-consulta" class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Consulta y mantenimiento de Proveedores</h3>
                    </div>
                        <!--<form method="GET" action="{% url 'consultaProveedores' %}"> -->
                            <div class="input-group mb-3">
                                <input type="text"
                                    name="buscar"
                                    class="form-control"
                                    placeholder="Buscar por código o nombre..."
                                    value="{{ buscar }}">
                                    
                                <input type="hidden"
                                    name="company"
                                    value="{{ company_key }}">

                                <button type="submit" class="btn btn-primary">
                                    Buscar
                                </button>

                                <a href="?company={{ company_key }}"
                                class="btn btn-secondary">
                                    Limpiar
                                </a>

                            </div>
                        <!--</form> -->
                    <div class="card-body">

                        <div class="form-group row mt-3">
                            
                        </div>
                        <hr class="hr hr-blurry my-5" />
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="table-responsive">
                                        <table id="datatable-consultaplantillas" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Codigo</th>
                                                    <th>Proveedor</th>
                                                    <th>Actividad</th>
                                                    <th>Documentación</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tablebody_plantillas">
                                                 {% for fila in datos %}
                                                <tr>
                                                    <td>{{ fila.pv_codigo }}</td>
                                                    <td>{{ fila.pv_nombre }}</td>
                                                    <td>{{ fila.pv_refere1 }}</td>
                                                    <td>
                                                        {% if fila.pdf_disponible %}
                                                            <a href="{% url 'ver_pdf_proveedor' fila.pv_codigo %}"
                                                            target="_blank">
                                                                📄 Disponible
                                                            </a>
                                                        {% else %}
                                                            <span>No disponible</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                    <td colspan="4" class="text-center">
                                                        No existen registros
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <!-- type="button" solo ejecuta el onclick sin enviar el formulario o recargar pagina esto lo hace con type ="submit"-->
                        <button class="btn btn-primary" type="button" id="consultar-btn"
                            onclick="iniciarDataTable()">Consultar</button>
                       
                        
                    </div>
                </div>
            </form>
        </div>
{% endblock %} 
<!--
{% block footer_scripts %}

   {{ block.super }}
   <script src="/static/js/funcionesProveedores.js" ></script>

{% endblock %}
-->