<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{ company.name }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Taller
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Orden de Trabajo</a></li>
              <li><a class="dropdown-item" href="#">Tempario</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">Torre de Control</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Compras
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/comprasapp/templates/ordenCompra?company={{ company_key }}">Orden de Compra</a></li>
              <li><a class=" dropdown-item" href="/comprasapp/cargarTmplOrdenes?company={{ company_key }}">Consulta</a></li>
              <li><a class=" dropdown-item" href="/comprasapp/cargarTmplPlantillas?company={{ company_key }}">Plantillas Periódicas</a></li>
                <li class="dropend">
                  <!--Propiedad data-bs-toggle ejecuta en evento de mostrar o ocultar menu con = dropdown -->
                  <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                  Centro de Gastos
                  </a>
                  <!--Submenu trabaja con css propios -->
                  <ul class="dropdown-menu dropdown-submenu"> 
                  <li>
                    <a class="dropdown-item" href="/comprasapp/cargarTmplConsultaCentroGastos?company={{ company_key }}">Consulta</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Asignacion Proveedor</a>
                  </li>
                  </ul>
                </li>
              <li>
                <hr class=" dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">Proveedores</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Repuestos
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/repuestosapp/templates/compraRepuestos?company={{ company_key }}">Orden de Compra</a>
              </li>
              <li>
                <a class="dropdown-item" href="/repuestosapp/pruebas?company={{ company_key }}">Pruebas</a>
              </li>
              <li>
                <hr class=" dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">Proveedores</a></li>
            </ul>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success" type="submit">
            Search
          </button>
        </form> -->
        <a class="d-flex" href="{% url 'company_select' %}" onclick="cerrarSesion()">

          Cerrar Sesión
        </a>
      </div>
    </div>
</nav>