{% extends "base.html" %}
{% load static %}

{% block titulo %}Menu Principal{% endblock %}

{% block contenido %}
  <h2>{{ company.name }}</h2>
{% endblock %}

{% block footer_scripts %}
<script>
  var username = "{{ username|default:'' }}";
  var compania = "{{ compania|default:'' }}";
  var agencia  = "{{ agencia|default:'' }}";
  var bodega   = "{{ bodega|default:'' }}";

  if (username && sessionStorage.getItem("username") !== username) {
    sessionStorage.setItem("username",  username);
    sessionStorage.setItem("compania",  compania);
    sessionStorage.setItem("agencia",   agencia);
    sessionStorage.setItem("bodega",    bodega);
  }
</script>
{% endblock %}