.fila-iva {
    background-color: #f0f8ff; /* color suave de fondo */
}

.columna-impuesto {
    font-size: large ; 
    width: 260px !important;
    font-weight: bold;
    padding: 4px;
    table-layout: fixed;

}

.columna-valor {
    width: 320px;
    text-align: right; 
    font-size: large;
    padding: 4px;
    table-layout: fixed;
    font-weight: bold;
}
